@import variables
@import materialize_overwrites
@import layout
@import header
@import url('https://fonts.googleapis.com/css?family=Oswald')

html
  font-family: "Oswald"
  color: #999

*
  color: #fff

nav
  color: white

.ui-state-highlight
  height: 77px

.width-05
  width: .5rem

table.condensed
  td
    padding: 5px !important

